__pycache__/
*.py[cod]
.venv/
venv/
dist/
*.egg-info/
.pytest_cache/

data/output/*.xlsx
!data/output/.gitkeep

.env
*.env
data/amazon_state.json
data/walmart_state.json
data/walmart_browser_profile/
data/walmart_html/
data/output/
!data/output/.gitkeep
*.xlsx
*.xls
*.csv

.idea/
.vscode/
